<div class="menu">
  <!-- Right aligned menu below button -->
  <!-- <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
    <li class="mdl-menu__item">Some Action</li>
    <li class="mdl-menu__item">Another Action</li>
    <li disabled class="mdl-menu__item">Disabled Action</li>
    <li class="mdl-menu__item">Yet Another Action</li>
  </ul> -->
</div>
<!-- THE POSTS -->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <br />
    </div>
    <div id="landingText" class="mdl-cell--align-center mdl-cell--8-col">
        <h2>Hi there, I'm Cornellius</h2>
        <% if current_user == "cngondo" %>
          <%= link_to "Create a new article", new_article_path %>
        <% else %>
        <br>
          <%= link_to "Login with Github", "/auth/github" %>
        <% end %>
        <% @articles.each do |article| %>
           <div class="mdl-grid">
          <!-- SHOW TIME OF CREATED POST   -->
           <div class="mdl-cell mdl-cell--2-col">
             <h1><%= article.created_at.strftime("%d") %></h1>
             <br>
             <p><%= article.created_at.strftime("%b  %Y") %></p>
           </div>
           <div class="mdl-cell mdl-cell--10-col">
             <h1><%=raw link_to markdown(article.title), article_path(article) %></h1>
              <br>
             <p><%=sanitize truncate markdown(article.body), length: 250, :tags => "h5, div, span" %></p>
              <br>
              <%= link_to "Read More", article, class:"mdl-button mdl-button--colored
                                                          mdl-js-button mdl-js-ripple-effect" %>
              <br>
           </div>
          </div>
          <hr>
        <% end %>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <br />
    </div>
</div>
