<div class="bgshow">
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
    <br >
</div>
<div class="blogtext">
  <div class="mdl-layout mdl-js-layout mdl-layout--align-center">
    <div class="mdl-layout__header">
      <h1><%= markdown(@article.title) %></h1>
    </div>

    <p><%= markdown(@article.body) %></p>   
    <br >
    <div class="links" align="right">
      <li>
        <%= link_to articles_path do %>
          <img src="/assets/back_arrow.png">
        <% end %>
      </li>
      <li>
        <%= link_to edit_article_path(@article) do %>
          <img src="/assets/edit_post.png">
        <% end %>
      </li>
      <li>
        <%= link_to article_path(@article), method: :delete,
        data: {confirm: "Are you sure you want to delete this article?"} do %>
          <img src="/assets/del.png">
        <% end %>
      </li>
    </div>
  </div>
</div>
